<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>AddPerson</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <center>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <form action="\app\newinfo" >
				<input placeholder="Name" name="name" type="text" required="">
					<br><br/>
				<input placeholder="ID #" name="num"  type="text" required="">
					<br><br><br/><br/>


				<button type="submit" style="font-size : 25px; height: 63px; width: 230px" >Click for Face Sample</button>
    </form>
    </center>
</head>
<body>

</body>
</html>